[Unit]
Description=My AWS S3-based dynamic DNS resolver

[Timer]
OnBootSec=5min
OnCalendar=*:0/15
Unit=batesste-s3-dyndns.service

[Install]
WantedBy=multi-user.target
